.block_featured_courses .course-image {
    background-size: cover;
    height: 7rem;
    width: 100%;
    background-position: center;
    border-top-left-radius: calc(0.5rem - 1px);
    border-top-right-radius: calc(0.5rem - 1px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.block_featured_courses .card {
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
